<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>仿91手机和iphone频道焦点图特效</title>
<link href="css/style.css" rel="stylesheet" />
<script type="text/javascript" src="js/script.js"></script>

</head>
<body>

<div id="tFocus">
	<div class="prev" id="prev"></div>
	<div class="next" id="next"></div>
	<ul id="tFocus-pic">
		<li><a href="#"><img src="images/001.jpg" width="338" height="243" alt="iOS 7.1测试版发布 新界面和新功能可不少" /></a></li>
		<li><a href="#"><img src="images/002.jpg" width="338" height="243" alt="iOS 7.1测试版发布 到底提升了哪些？  " /></a></li>
		<li><a href="#"><img src="images/003.jpg" width="338" height="243" alt="iH8sn0w：iOS 7完美越狱今年或无缘发布" /></a></li>
	</ul>
	<div id="tFocusBtn">
		<a href="javascript:void(0);" id="tFocus-leftbtn">上一张</a>
		<div id="tFocus-btn">
			<ul>
				<li class="active"><img src="images/706-131119110625157.jpg" width="87" height="57" alt="iOS 7.1测试版发布 新界面和新功能可不少" /></li>
				<li><img src="images/645-1311191056130-L.jpg" width="87" height="57" alt="iOS 7.1测试版发布 到底提升了哪些？  " /></li>
				<li><img src="images/706-13111Q1234X03.jpg" width="87" height="57" alt="iH8sn0w：iOS 7完美越狱今年或无缘发布" /></li>
				<li><img src="images/645-13111Q354530-L.jpg" width="87" height="57" alt="买5s纠结裸机合约机? 明白人帮你理头绪 " /></li>
				<li><img src="images/706-13111Q359433J.jpg" width="87" height="57" alt="帅惨了！国外用户亲自设计概念iPhone 6" /></li>
				<li><img src="images/645-13111Q136160-L.jpg" width="87" height="57" alt="美创业者用废弃的iPhone造家具和首饰  " /></li>
			</ul>
		</div>
		<a href="javascript:void(0);" id="tFocus-rightbtn">下一张</a>
	</div>
</div><!--tFocus end-->

<script type="text/javascript">addLoadEvent(Focus());</script>

</body>
</html>